literature/articles/additive_models/Generalized_Additive_Models_Hastie_1986.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Statistical_Inference_Casella-Berger_2002.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/ISLRv2_website.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/EelementsOfStatisticalLearning_print12.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/scholkopf2002learning_with_kernels.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/principlesofstatisticalinference_cox_2006.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Learning_Theory_from_First_Principles_Bach_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Weatherwax_Epstein_Hastie_Solution_Manual.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/Hilbert_13-Are_There_Any_Genuine_Continuous_Multivariate_Real-Valued_Functions_Morris_2020?.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/Kolmogorov_Superposition_Theorem_and_Its_Applications_Liu_ImperialCollege_PhD_thesis_2015.pd filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/Kolmogorov_Superposition_Theorem_and_Its_Applications_Liu_ImperialCollege_PhD_thesis_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/On_the_structure_of_continuous_functions_of_several_variables_Spercher_1965.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Machine_Learning_Optimization_and_Data_Science_5_conference_LOD_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/KAN_2.0-Kolmogorov-Arnold_Networks_Meet_Science_Liu_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/An_Introduction_to_Stochastic_Modeling_Taylor_3Ed_1998.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/AnIntroductiontotheBootstrapEfronTibshirani.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/ExperimentalDesignAndAnalysisBookSeltman.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/LinearSmoothersAndAdditiveModelsBuja.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/BoostedTree.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/GentleIntroduction_to_XGBoost_for_Applied filter=lfs diff=lfs merge=lfs -text
Machine_Learning.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/AdditiveLogisticRegressionStatisticalViewOfBoostingFriedmanHastie.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/classification_and_regression/DataMiningwithDecisionTrees_Theory_and_Applications_2nd_ed_Rokach_Maimon_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/MonteCarlo/A_First_Course_in_Monte_Carlo_Methods_Sanz_Alonso_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/GeneralizedLinearModels_McCullagh_Nelder_1983.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/kernel-methods-for-pattern-analysis.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Learning_kernel_classifiers_Herbrich_2002.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kernel_methods/NIPS-2000-the-kernel-trick-for-distances-Schoelkopf.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kernel_methods/On_the_Optimality_of_Kernels_for_High-Dimensional_Clustering_Vankadara_2019.pdf filter=lfs diff=lfs merge=lfs -text
