literature/articles/additive_models/Generalized_Additive_Models_Hastie_1986.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Statistical_Inference_Casella-Berger_2002.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/ISLRv2_website.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/EelementsOfStatisticalLearning_print12.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/scholkopf2002learning_with_kernels.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/principlesofstatisticalinference_cox_2006.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Learning_Theory_from_First_Principles_Bach_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Weatherwax_Epstein_Hastie_Solution_Manual.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/Hilbert_13-Are_There_Any_Genuine_Continuous_Multivariate_Real-Valued_Functions_Morris_2020?.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/Kolmogorov_Superposition_Theorem_and_Its_Applications_Liu_ImperialCollege_PhD_thesis_2015.pd filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/Kolmogorov_Superposition_Theorem_and_Its_Applications_Liu_ImperialCollege_PhD_thesis_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/On_the_structure_of_continuous_functions_of_several_variables_Spercher_1965.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Machine_Learning_Optimization_and_Data_Science_5_conference_LOD_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/KAN_2.0-Kolmogorov-Arnold_Networks_Meet_Science_Liu_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/An_Introduction_to_Stochastic_Modeling_Taylor_3Ed_1998.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/AnIntroductiontotheBootstrapEfronTibshirani.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/ExperimentalDesignAndAnalysisBookSeltman.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/LinearSmoothersAndAdditiveModelsBuja.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/BoostedTree.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/GentleIntroduction_to_XGBoost_for_Applied filter=lfs diff=lfs merge=lfs -text
Machine_Learning.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/boosting/AdditiveLogisticRegressionStatisticalViewOfBoostingFriedmanHastie.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/classification_and_regression/DataMiningwithDecisionTrees_Theory_and_Applications_2nd_ed_Rokach_Maimon_2014.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/MonteCarlo/A_First_Course_in_Monte_Carlo_Methods_Sanz_Alonso_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/GeneralizedLinearModels_McCullagh_Nelder_1983.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/kernel-methods-for-pattern-analysis.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Learning_kernel_classifiers_Herbrich_2002.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kernel_methods/NIPS-2000-the-kernel-trick-for-distances-Schoelkopf.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kernel_methods/On_the_Optimality_of_Kernels_for_High-Dimensional_Clustering_Vankadara_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kernel_methods/Kernel_Methods_on_Riemannian_Manifolds_with_Gaussian_RBF_Kernels_Jayasumana_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/svm/An_innovative_support_vector_machine_based_method_for_Contextual_image_classification_Negri_2013.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/kernel_methods/Kernel_methods_for_high_dimensional_data_analysis_de_Vitis_2020.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/hyperbolic_spaces/A_Group-Theoretic_Framework_for_Machine_Learning_in_Hyperbolic_Spaces_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Introduction_to_Machine_Learning_Younes_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/KAN/Prediction_via_Shapley_Value_Regression_Alkhatib_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/An_Introduction_To_The_Art_of_Mathematical_Inequalities_Steele_2004.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Probabilistic_Artificial_Intelligence_Krause_Huebotter_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/svm/Transformers_as_Support_Vector_Machines_Tarzanagh_225.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Foundations_of_Machine_Learning_Mohri_2012.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Boosting_any_learning_algorithm_with_Statistically_Enhanced_Learning_Felice_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/gradient_descent/proximal-gradient-descent_Ryan_Tibshirani_slides.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/gradient_descent/grad-descent_Ryan_Tibshirani_slides.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/learning_as_approximation/A_Theory_of_Networks_for_Approximation_and_Learning_Poggio_Girosi_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/learning_as_approximation/Reconciling_modern_machine_learning_practice_and_the_bias-variance_trade-off_Belkin_2019.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/learning_as_approximation/Statistical_Mechanics_of_Learning_Engel_1999.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/learning_as_approximation/The_Statistical_Mechanics_of_Learning_A_Rule_1993RevModPhysWatkin.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Kolmogorov_superposition_theorem/Kolmogorov_superposition_theorem_proof_Hedberg_1971.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Kolmogorov_superposition_theorem/On_the_Structure_of_Continuous_Functions_of_Several_Variables_Sprecher_1965.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Patterns_Predictions_and_Actions_Hardt_2024.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/inductive_bias/the-lack-of-a-priori-distinctions-between-learning-Wolpert-1996.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/regression_trees/BART_Bayesian_Additive_Regression_Trees_Hugh_2010.pdf filter=lfs diff=lfs merge=lfs -text
literature/books/Gaussian_Processes_and_Reproducing_Kernels-Connections_and_Equivalences_Kanagawa_2025.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/classification_and_regression/Classification_and_Regression_Trees_Rosenberg_NYC_2015.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/classification_and_regression/Classification_and_Regression_Trees_Wang_Zhe_2009.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/classification_and_regression/Greedy_Function_Approximation_A_Gradient_Boosting_Machine_Friedman_2001.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Woodbury_matrix_identity/Updating_The_Inverse_of_Matrix_Hager_1989.pdf filter=lfs diff=lfs merge=lfs -text
literature/articles/Woodbury_matrix_identity/On_Deriving_The_Inverse_of_Sum_of_matrices_Henderson_1980.pdf filter=lfs diff=lfs merge=lfs -text
